body {
  margin:0;
  display:flex;
  height:100vh;
}

/* LEFT SIDE */

.left-side {
  --left-width: 26vw;

  background-image: url("background.jpg");
  min-width: var(--left-width);
}

.logo {
  width: var(--left-width);
  height: 140px;
  background-color: rgba(238, 238, 238, 0.548);
  position: absolute;
  top: 12vh;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height:80px;
}

.logo p {
  font-size: 2.2rem;
  font-weight: 600;
  max-width: 50%;
}

.credits {
  position: absolute;
  bottom: 5px;
  color: white;
  width: var(--left-width);
  text-align: center;
}

.credits a:link, 
.credits a:visited {
  color: white;
}

.credits a:hover {
  color: lightgrey;
}

.credits a:active {
  color: grey;
}

/* RIGHT SIDE */

.right-side {
  --right-width: 74vw;

  background-color: rgb(231, 231, 231);
  width: var(--right-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-message {
  margin-left: 50px;
  max-width: 36vw;
}

form {
  background-color: whitesmoke;
  height: 320px;
  width: var(--right-width);
}

form h1 {
  margin: 20px 0px 0px 50px;
}

.inputs {
  margin: 20px 0px 0px 50px;

  display: grid;

  grid-template-columns: 240px 240px;
  grid-template-rows: 60px 60px 60px; 
  column-gap: 100px;
  row-gap: 12px;
}

.inp {
  display:flex;
  flex-direction: column;
  max-width: 240px;
}

input {
  border: none;
  margin: 0;
  font-size: 1.2rem;
  padding: 5px 10px;
  outline: 1px solid lightgray;
  border-radius: 5px;
}

input:focus {
  outline: 1px solid gray;
  box-shadow: 0 0 5px 1px darkgray;
}

input:invalid:not(:placeholder-shown) {
  outline: 1px solid red;
}


input + span {
  position: relative;
}

input:invalid:not(:placeholder-shown) + span::after {
  font-size: 0.75rem;
  position: absolute;
  content: "Invalid input";
  color: white;
  background-color: darkblue;
  padding: 4px 8px;
  right:0;
  top:2px;
}

.bottom-message {
  margin: 20px 0 0 50px;
}

button {
  margin-left: 6px;
  background-color: darkblue;
  border: none;
  color: white;
  padding: 12px 36px;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration:none;
  border-radius: 5px;
}